* {
    margin:0;
}

.container h1{
    text-align: center;
    font-size: 75px;
}
.header { 
    
    background:url(./矢上祭写真2021\ .png) center 120% / 75% no-repeat,
    yellow;
    
    height: 650px;
    text-align:center;
    margin:0;
}

.body {
    padding:0;
    margin:0;
    height:750px;
    background: linear-gradient(yellow, aqua);
    text-align: center;
}

.body h1{
    padding-top:50px;
}


.sentense{
    font-size:25px;
}
.movie{
    display: flex;
    flex-direction: row;
    margin-top:40px;
    
    height:400px;
   
}

.movie .left {
    flex: calc(100% / 4);  
    margin-top:103px;
}
.movie .left img{
    width:100%
}
.movie .box{
    flex: calc(100% / 2);  
    padding-right:auto;
    height:400px;
    
    
    
}
.box .wrapper{
    position: relative;
  padding-top: 56.25%;

}

.movie .box iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.movie .right {
    flex: calc(100% / 4);  
    margin-top:103px;
}
.movie .right img{
    width:100%
}
.bottom {
    margin-top:50px;
    
}
.footer {
    text-align: center;
    height:100px;
    background:cornflowerblue;
    
}
.footer p{
    color: cyan;
    padding-top:20px;
}

@media screen and (max-width: 730px){
    * {
        margin:0;
    }
    .container h1{
        text-align: center;
        font-size: 75px;
    }
    .header { 
    
        background:url(./矢上祭写真2021\ .png) center 90% / 75% no-repeat,
        yellow;
        
        height: 650px;
        text-align:center;
        margin:0;
    }
    .sentense{
        font-size:20px;
    }
    .body {
        padding:0;
        margin:0;
        height:700px;
        background: linear-gradient(yellow, aqua);
        text-align: center;
    }
    .movie{
        display: flex;
        flex-direction: row;
        margin-top:40px;
        
        height:300px;
       
    }
    .box {
        margin-top:40px;
    }
    .movie .left {
        flex: calc(100% / 5);  
        margin-top:103px;
    }
    .movie .box{
        flex: calc(100% / 2);  
        padding-right:auto;
        height:400px;
        
        
        
    }
    .movie .right {
        flex: calc(100% / 5);  
        margin-top:103px;
    }
}